@model Blockchain_Supply_Chain_Tracking_System.Models.TrackingModel

@foreach (var block in Model.Blockchainblocks)
{
    <td>@(Model.Users.FirstOrDefault(u => u.Userid == block.Userid)?.Username ?? "Нет данных")</td>
    <td>@block.Eventtype</td>
    <td>@block.Location</td>
    <td>@block.Carnumber</td>
    <td>@block.Eventdetails</td>
}
